@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css (or any CSS file you are using) */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in element width */
}

/* Optionally, reset body margin and padding */
body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* Additional styles for body if needed */
}
